body{
    /* background: grey; */
}

.bg-white{
    background-color: white;
}
.field_item label{
    color: rgb(83, 41, 2);
    font-weight: 500;
}

.field_item{
    margin-top: 20px;
}

.text-bold{
    font-weight: bold;
}

.text-smaller{
    font-size:smaller;
}

.text-small{
    font-size:small;
}

.text-italic{
    font-style: italic;
}

.link{
    opacity: .85;
}

.link:hover{
    opacity: 1;
}